<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form action="${pageContext.request.contextPath}/back/user/t2" method="post">
    <div class="form-group">
        <label for="bname">书籍名称</label>
        <input type="text" name="bookName" class="form-control" id="bname">
    </div>
    <div class="form-group">
        <label for="bsum">书籍数量</label>
        <input type="password" name="bookCounts" class="form-control" id="bsum">
    </div>
    <div class="form-group">
        <label for="bc">书籍描述</label>
        <input type="text" name="detail" class="form-control" id="bc">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>