<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.back.mapper.UserorderVoMapper">


    <resultMap id="BaseResertMap" type="com.code.back.Vo.UserorderVo">
        <id column="id" property="id"/>
        <result column="o_id" property="oid"/>
        <result column="rtname" property="rtname"/>
        <result column="rating" property="rating"/>
        <result column="pay_time" property="payTime"/>
        <result column="state" property="state"/>
        <result column="total_price" property="totalPrice"/>
        <result column="Create_time" property="createTime"/>
        <result column="checkin_time" property="checkinTime"/>
        <result column="checkout_time" property="checkoutTime"/>
        <result column="review" property="review"/>
        <result column="p1_tel" property="p1Tel"/>
        <result column="pname1" property="pname1"/>
        <result column="p2_tel" property="p2Tel"/>
        <result column="pname2" property="pname2"/>
        <result column="breakfast_time" property="breakfastTime"/>
        <result column="hname" property="hname"/>
        <result column="alipay_no" property="alipayNo"/>
    </resultMap>

    <select id="queryAllOrderByUid" resultMap="BaseResertMap">
        select o_id,rtname,rating,pay_time,state,total_price,Create_time,checkin_time,checkout_time,review,
        p1_tel,pname1,p2_tel,pname2,breakfast_time,hname,alipay_no
        from userorder uo, roomtype r,hotel h
        where uo.u_id = #{uid} and uo.r_id=r.r_id and r.h_id = h.h_id and uo.deleted = 0
    </select>
    <select id="queryAllStateOrderById" resultType="com.code.back.Vo.UserorderVo">
        select o_id,rtname,rating,pay_time,state,total_price,Create_time,checkin_time,checkout_time,review,
        p1_tel,pname1,p2_tel,pname2,breakfast_time,hname,alipay_no
        from userorder uo, roomtype r,hotel h
        where uo.u_id = #{uid} and uo.r_id=r.r_id and r.h_id = h.h_id and state = #{state} and uo.deleted = 0
    </select>
    <select id="queryUserorderByOid" resultType="com.code.back.Vo.UserorderVo">
        select o_id,rtname,rating,pay_time,state,total_price,Create_time,checkin_time,checkout_time,review,
        p1_tel,pname1,p2_tel,pname2,breakfast_time,hname,alipay_no
        from userorder uo, roomtype r,hotel h
        where uo.o_id = #{oid} and uo.r_id=r.r_id and r.h_id = h.h_id and uo.deleted = 0
    </select>
</mapper>
